{% extends 'network/layout.html' %}
{% load static %}

{% block title %}{{ user_viewed }}{% endblock title %}

{% block scripts %}
  <script defer src="{% static 'network/follow.js' %}"></script>
  {% if user == user_viewed and user.is_authenticated %}
    <script defer src="{% static 'network/edit.js' %}"></script>
  {% endif %}
{% endblock scripts %}

{% block body %}
  <h1 data-user-id="{{ user_viewed.id }}">{{ user_viewed }}</h1>

  {% if user_viewed != user and user.is_authenticated %}
    {% if user in user_viewed.followers.all %}
      <button id="follow-btn" type="button" class="btn btn-outline-secondary">Unfollow</button>
    {% else %}
      <button id="follow-btn" type="button" class="btn btn-secondary">Follow</button>
    {% endif %}
  {% endif %}

  <div class="d-flex gap-4 mb-5">
    <div>
      <span>{{ user_viewed.following.count }}</span>
      <span>Following</span>
    </div>
    <div>
      <span>{{ user_viewed.followers.count }}</span>
      <span>Followers</span>
    </div>
  </div>


  <h3>Posts</h3>
  {% include 'network/posts.html' %}
{% endblock body %}
